/*--General Styling--*/

* {
    margin: 0;
    padding: 0;
    }

html {
    box-sizing: border-box;
    font-size: 18px;
}

h1 {
    font-family: 'Playfair Display';
    font-weight: 800;
    font-size: 3.33rem;
    color: #1E1E1E;
}

h2 {
    font-family: 'Playfair Display';
    font-weight: 800;
    font-size: 2.7rem;
    color: #1E1E1E;
}

h3 {
    font-family: 'Playfair Display';
    font-weight: 800;
    font-size: 1.38rem;
}

h4 {
    font-family: 'Source Sans 3';
    font-weight: 600;
    font-size: 1.11rem;
}

h5 {
    font-family: 'Source Sans 3';
    font-weight: 300;
    font-size: 0.7rem;
    color: #1E1E1E;
}

p {
    font-family: 'Source Sans 3';
    font-weight: 300;
    font-size: 1rem;
}

/*--Header--*/

header {
    height: 5.5rem;
    background-color: #E3E2E7;
    width: 100%;
    align-content: center;
}

header nav {
    display: flex;
    margin: 0 10%;
    justify-content: space-between;
}

nav .logo{
    font-family: 'Playfair Display';
    font-size: 2.22rem;
    font-weight: 900;
}

nav button {
    font-family: 'Source Sans 3';
    font-size: 1rem;
    font-weight: 300;
    border: none;
    background-color: transparent;
    margin:0 1.38rem;
    cursor: pointer;
}

nav button:hover {
    font-weight: 600;
}

#bookbutton {
    background-color: #1E1E1E;
    color: #ffffff;
    padding: 0.7rem 1.22rem;
}

@media screen and (max-width: 750px) {
    nav button {
        display: none;
    }
}



/*--Banner--*/


.banner {
    height: 818px;
    background-image: url(./images/Header.png);
    padding-left: 10%;
}

.banner .bannercontent {
    text-align: left;
    width: 40%;
    padding-top: 100px;
    min-width: 350px;
}

.bannercontent p {
    margin-top: 1.2rem;
}

.bannerbutton button {
    background-color: #1E1E1E;
    color: #ffffff;
    padding: 1.38rem 3.5rem;
    margin-top: 2rem;
    font-family: 'Source Sans 3';
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.bannerbutton button:hover {
    background-color: #555555;
    color: #ffffff;
}

@media screen and (max-width: 768px) {
    .bannercontent h1{
        font-size: 2rem;
    } 

    .banner {
        background-image: url(./images/Headermobile.png);
        height: 600px;
    }
}

/*--Services--*/

.services {
    margin: 0 10%;
}

.services h2 {
    margin: 3.05rem 0;
}

.servicesall {
    min-width: 450 px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}

.servicescontainer {
    width: 450px;
    background-color: #1E1E1E;
    color:#ffffff;
    overflow: hidden;
}

.imagecontainer {
    width: 100%;
    height: auto;
}

.servicetext {
    color: #ffffff;
    padding: 1.66rem;
    line-height: 1.6rem;
}

.servicetext a {
    text-decoration: underline;
    color: #ffffff;
    font-family: 'Source Sans 3';
    font-size: 1rem;
    line-height: 3rem;
}

/*--Team--*/

.team {
    background-color: #1E1E1E;
    margin-top: 8rem;
    padding: 5% 10%;
}

.teamintro h2 {
    color: #ffffff;
}

.teamintro p {
    color: #ffffff;
    width: 450px;
    padding: 3rem 0;
    min-width: 350px;

}

.teamall {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
    }

.teamcontainer {
    width: 350px;
    color:#ffffff;
    overflow: hidden;
}

.timagecontainer {
    width: 100%;
    height: auto;
}

.persontext {
    color: #ffffff;
    padding-top: 2.5rem;
    line-height: 1.5rem;
}

.persontext p {
    margin: 2.5rem 0;

}

/*--cta--*/

.cta {
    height:  543px;
    background-image: url(./images/CTA.png);
    padding-left: 10%;
    align-content: center;
}

.ctatext {
    width: 40%;
    min-width: 350px;
}

.ctatext p {
    margin-top: 2rem;
}

.ctabutton button {
    background-color: #1E1E1E;
    color: #ffffff;
    padding: 1.38rem 3.5rem;
    margin-top: 2rem;
    font-family: 'Source Sans 3';
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.ctabutton button:hover {
    background-color: #555555;
    color: #ffffff;
}

/*--footer--*/

footer {
    padding: 0 10%;
    height: 100px;
    align-content: center;
    background-color: #D9D9D9;
    justify-content: center;
}

